<div class="container-fluid" style="min-height: 100vh;">

    
    <div class="container my-5"
        style="background-color: white; border-radius: 15px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); padding: 40px;">
        <h2 class="text-center mb-4" style="color: #2a3d66; font-weight: bold;">Add Train</h2>

        <form (ngSubmit)="addTrain()" #trainForm="ngForm" class="mb-5">
            <input type="hidden" name="id" value="add" [(ngModel)]="train.id">

            <div class="row">
                <div class="col-md-4">
                    <label for="name" class="form-label">Train Name</label>
                    <input type="text" id="name" class="form-control" [(ngModel)]="train.name" name="name" required
                        style="background-color: #f8f9fa;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="source" class="form-label">Source</label>
                    <input type="text" id="source" class="form-control" [(ngModel)]="train.source" name="source"
                        required style="background-color: #f8f9fa;" />
                </div>
                <div class="col-md-4">
                    <label for="destination" class="form-label">Destination</label>
                    <input type="text" id="destination" class="form-control" [(ngModel)]="train.destination"
                        name="destination" required style="background-color: #f8f9fa;" />
                </div>
                <div class="col-md-4">
                    <label for="status" class="form-label">Status</label>
                    <select id="status" class="form-control" [(ngModel)]="train.status" name="status" required
                        style="background-color: #f8f9fa;">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                
                <div class="col-md-4">
                    <label for="generalCoach" class="form-label">General Coach</label>
                    <input type="number" id="generalCoach" class="form-control" [(ngModel)]="train.general"
                        name="general" required style="background-color: #f8f9fa;" />
                </div>
                <div class="col-md-4">
                    <label for="sleeperCoach" class="form-label">Sleeper Coach</label>
                    <input type="number" id="sleeperCoach" class="form-control" [(ngModel)]="train.sleeper"
                        name="sleeper" required style="background-color: #f8f9fa;" />
                </div>
                <div class="col-md-4">
                    <label for="acCoach" class="form-label">AC Coach</label>
                    <input type="number" id="acCoach" class="form-control" [(ngModel)]="train.ac" name="ac" required
                        style="background-color: #f8f9fa;" />
                </div>
            </div>

            <div class="row mt-3">
                
                <!-- <div class="col-md-4">
                    <label for="seatNo" class="form-label">Seat No</label>
                    <input type="number" id="seatNo" class="form-control" [(ngModel)]="train.seatNumber"
                        name="seatNumber" required style="background-color: #f8f9fa;" />
                </div> -->
                <div class="col-md-4">
                    <label for="generalPrice" class="form-label">General Price</label>
                    <input type="number" id="generalPrice" class="form-control" [(ngModel)]="train.generalPrice"
                        name="generalPrice" required style="background-color: #f8f9fa;" />
                </div>
                <div class="col-md-4">
                    <label for="sleeperPrice" class="form-label">Sleeper Price</label>
                    <input type="number" id="sleeperPrice" class="form-control" [(ngModel)]="train.sleeperPrice"
                        name="sleeperPrice" required style="background-color: #f8f9fa;" />
                </div>
                <div class="col-md-4">
                    <label for="acPrice" class="form-label">AC Price</label>
                    <input type="number" id="acPrice" class="form-control" [(ngModel)]="train.acPrice" name="acPrice"
                        required style="background-color: #f8f9fa;" />
                </div>
            </div>

            <div class="mt-4 text-center">
                <button type="submit" class="btn btn-primary px-5 py-2"
                    style="border-radius: 30px; font-weight: bold;">Add Train</button>
            </div>
        </form>