<div class="container mt-5">
    <h2 class="text-center mb-4">My Bookings</h2>
    <div *ngIf="bookings.length === 0" class="alert alert-info text-center">
        No bookings found.
    </div>
    <div *ngIf="bookings.length > 0" class="row">
        <div *ngFor="let booking of bookings" class="col-md-3 mb-2">
            <div class="card shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Train: {{ booking.train.name }}</h5>
                    <p class="card-text">
                        <strong>Source: </strong> {{booking.train.source}} <br>
                        <strong>Destination: </strong> {{ booking.train.destination }} <br />
                        <strong>Journey Date:</strong> {{ booking.journeyDate }} <br />
                        <strong>Status:</strong> {{ booking.status }}
                    </p>
                    <div class="mt-auto text-end">
                        <h6 style="color: red; font-size: 14px; margin-bottom: -10px; margin-left: 10px;">Booked on: {{ booking.createdAt | date: 'yyyy-MM-dd' }}</h6> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
